<section>
<div class="left">
    <h2>Collect Feedback, <br> Unlock Ideas</h2>
    <p>Create and share surveys in minutes - from team events to <br>
    workplace culture. Collect opinions, engage your audience, <br>
and turn feedback into action.</p>
<button class="btn-prm">
New survey
<img class="dnone" src="./assets/icons/add_circle.svg" alt="circle">
</button>
</div>
<div class="right">
    <img class="clipboard" src="./assets/icons/clipboard.svg" alt="clipboard">
    <img class="bubble" src="./assets/icons/bubble.svg" alt="bubble">
    <img class="check" src="./assets/icons/check.svg" alt="ckeck">
    <img class="question" src="./assets/icons/question.svg" alt="question">
    <img class="star" src="./assets/icons/star.svg" alt="star">

</div>
</section>
