.home {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(53, 39, 58, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    gap: 90px;


}

@media (max-width: 750px) {
    .home {
        gap: 48px;
    }
}