.create-survey {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #FEFDFF;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    gap: 40px;

    >article {
        position: relative;
        width: 1116px;
        padding: 40px 54px;
        background-color: rgba(53, 39, 58, 1);
        border-radius: 5px 100px 5px 5px;
        display: flex;
        flex-direction: column;
        gap: 42px;

        >header {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 21px;

            .status {
                width: fit-content;
                padding: 3px 12px;
                background-color: rgba(255, 207, 161, 1);
                border-radius: 0 14px 0 0;
                color: rgba(34, 18, 39, 1);

                >p {
                    font-family: "Mulish";
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            .title {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                >h3 {
                    font-family: "Nerko";
                    font-size: 56px;
                    font-weight: 400;
                    color: rgba(238, 146, 54, 1);
                }

                >button {
                    padding: 8px 12px;
                    border: none;
                    display: flex;
                    flex-direction: row;
                    align-items: end;
                    justify-content: center;
                    gap: 10px;
                    border-radius: 10px;
                    color: white;
                    font-family: "Nokora";
                    font-size: 16px;
                    font-weight: 700;
                    background-color: rgba(255, 183, 112, 0.3);
                    transition: all ease 0.15s;
                    height: fit-content;

                    &:hover {
                        cursor: pointer;
                        background-color: rgba(255, 183, 112, 0.5);
                    }


                }
            }
        }

        .form {
            padding: 40px 32px;
            background-color: rgba(142, 112, 153, 0.16);
            border-radius: 5px 80px 5px 5px;
        }

        .footer {
            position: relative;
            display: flex;
            justify-content: end;
            width: 100%;
            gap: 24px;
            align-items: center;
            color: rgba(238, 146, 54, 1);
            font-family: "Mulish";
            font-weight: 700;
            font-size: 18px;

            .btn-prm {
                background-color: rgba(255, 207, 161, 1);
                border: none;
                color: black;
                padding: 12px 16px;
                height: max-content;
                font-family: "Nokora";
                font-size: 18px;
                font-weight: 700;
                color: rgba(34, 18, 39, 1);
                display: flex;
                flex-direction: row;
                align-items: center;
                border-radius: 10px;
                transition: background-color ease 0.3s;
                position: relative;
                width: 99px;
                transition: width 0.3s ease;

                img {
                    position: absolute;
                    right: 15px;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }

                &:hover {
                    width: 120px;
                    cursor: pointer;
                    background-color: rgba(255, 183, 112, 1);

                    img {
                        opacity: 1;
                    }
                }

                .dnone {
                    opacity: 0;
                    transform: translateX(-10px);
                    transition: opacity 0.3s ease, transform 0.3s ease;
                }


            }
        }

        .form {
            color: rgba(254, 253, 255, 1);
            font-family: "Mulish";
            font-size: 18px;

            >form {
                display: flex;
                flex-direction: column;
                gap: 64px;
            }


            input {
                border-radius: 5px 20px 5px 5px;
                padding: 7px 13px;
            }

            input,
            textarea {
                border: 0;
                outline: 0;
                background: transparent;
                font-size: 18px;
                font-weight: 400;
                background-color: rgba(254, 253, 255, 1);
                resize: none;
                color: rgba(53, 39, 58, 1);

                &::placeholder {
                    color: rgba(53, 39, 58, 1);
                }
            }

            input:focus {
                background-color: rgba(254, 233, 212, 1);
            }

            textarea:focus {
                background-color: rgba(254, 233, 212, 1) !important;
            }

            .delete {
                margin-top: 30px;
                margin-left: 8px;

                >img {
                    &:hover {
                        cursor: pointer;
                        content: url('/assets/icons/trash-hover.svg');
                    }
                }
            }

            .top {
                display: flex;
                flex-direction: row;
                gap: 64px;

                .left {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .input-group {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        .title {
                            width: 403px;
                        }

                        .date {
                            width: 222px;
                        }
                    }

                    .row {
                        display: flex;
                        flex-direction: row;
                    }
                }

                .right {

                    .top {
                        display: flex;
                        flex-direction: row;
                        gap: 0px
                    }




                    .input-group {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;


                        >textarea {
                            width: 418px;
                            height: 108px;
                            border-radius: 5px 20px 5px 5px;
                            padding: 7px 13px;
                            gap: 10px;
                            background-color: rgba(254, 253, 255, 1);
                        }
                    }
                }
            }

            .questions-grid {

                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 48px;
            }

            .questions {
                display: flex;
                gap: 91px;

                .questions-box-right {
                    >button {
                        padding: 8px 12px;
                        border-radius: 10px;
                        background-color: rgba(255, 183, 112, 0.3);
                        border: none;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        font-family: "Nokora";
                        color: rgba(254, 253, 255, 1);
                        font-size: 16px;
                        font-weight: 500;
                        transition: all ease 0.3s;

                        &:hover {
                            cursor: pointer;
                            background-color: rgba(255, 183, 112, 0.5);
                        }
                    }
                }
            }

            .question {
                display: grid (2);
                width: 470px;

                .button-box {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 90%;
                    justify-content: space-between;

                    >p {
                        font-size: 12px;
                        font-weight: 200;
                        letter-spacing: 2%;
                        margin-top: 25px;

                    }

                    button {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 4px;
                        border: none;
                        background-color: transparent;
                        color: rgba(254, 253, 255, 1);
                        font-size: 16px;
                        font-weight: 700;
                        padding: 8px 12px 12px 12px;
                        margin-top: 25px;
                        transition: all ease 0.2s;

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 8px;
                            width: 85%;
                            height: 1px;
                            background-color: rgba(254, 253, 255, 1);
                        }

                        &:hover {
                            cursor: pointer;
                            background-color: rgba(250, 245, 254, 0.2);
                        }
                    }

                }


                .answers-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 429px;
                    margin-top: 24px;
                    margin-bottom: 16px;
                    font-size: 14px;
                    font-weight: 200;
                    letter-spacing: 4%;
                    align-items: center;

                    >label {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 4px;
                        justify-content: center;
                    }

                    >h5 {
                        font-size: 18px;
                        font-weight: 700;
                    }
                }

                .question-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 429px;
                    gap: 4px;

                    .delete {
                        margin-top: 0;

                    }
                }

                .question-input {
                    width: 403px;

                }

                .answers {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;


                    .answer {
                        display: flex;
                        flex-direction: row;
                        gap: 8px;
                        align-items: center;

                        >input {
                            width: 340px;
                        }

                        .delete {
                            margin: 0px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

            }

        }
    }

}

.selected-category {
    color: rgba(255, 183, 112, 1);
    font-size: 14px;
    font-weight: 400;
    margin-left: 12px;
    margin-top: 4px;
    letter-spacing: 2%;
}

.category-dropdown {
    position: relative;
    width: 178px;
    margin-left: 30px;
    margin-top: 10px;

    .dropdown-trigger {
        width: 100%;
        height: 32px;
        border: none;
        color: #fff;
        font-family: "Mulish";
        font-size: 16px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        padding: 0 10px;
        transition: all ease 0.3s;
        cursor: pointer;
        border-radius: 8px;

        >img {
            rotate: 180deg;
        }

        &:hover {
            background-color: rgba(142, 112, 153, 0.4);

            >img {
                filter: brightness(0) saturate(100%) invert(79%) sepia(52%) saturate(768%) hue-rotate(329deg) brightness(102%) contrast(101%)
            }
        }
    }

    .dropdown-trigger.open {
        border-radius: 8px;
        background-color: rgba(142, 112, 153, 0.4);

        >img {
            rotate: 0deg;
            filter: brightness(0) saturate(100%) invert(79%) sepia(52%) saturate(768%) hue-rotate(329deg) brightness(102%) contrast(101%);
        }

    }

    .dropdown-menu {
        position: absolute;
        top: 36px;
        left: 0;
        width: 100%;
        list-style: none;
        border-radius: 6px;
        margin: 0;
        padding: 8px 0;
        background-color: #fff;
        z-index: 10;

        li {
            margin: 6px 10px;
            border-radius: 6px;
            padding: 4px;
            font-family: "Mulish";
            font-size: 14px;
            color: rgba(53, 39, 58, 1);
            cursor: pointer;

            &:hover {
                background-color: rgba(244, 233, 251, 1);
            }
        }
    }
}

.multiple-label {

    input {
        display: none;
    }

    .checkbox {
        border-radius: 3px;
        border: 2px solid #fff;
        width: 15px;
        height: 15px;
        transition: all ease 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;

        .d-none {
            display: none;
        }

        >img {
            width: 13px;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(255, 207, 161, 0.6);
            border-color: rgba(250, 245, 254, 1);
        }
    }

    input:checked+.checkbox {
        background-color: rgba(255, 183, 112, 1);
        border: none;
    }

    input:checked+.checkbox .check-icon {

        display: block;

    }
}

.check-icon {
    display: none;
}



.delete.disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
}

.success {
    position: absolute;
    z-index: 100;
    right: 12px;
    bottom: 100px;
    border-radius: 5px 50px 5px 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    padding: 18px 8px;
    width: 357px;
    height: 70px;
    background-color: rgba(254, 233, 212, 1);
    color: rgba(34, 18, 39, 1);
    animation: slideIn 0.4s ease;

    >p {
        font-family: "Nerko";
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2%;
        color: rgba(53, 39, 58, 1);
        width: 190px;
    }

    >img {
        cursor: pointer;
        margin-right: 8px;
        margin-top: 8px;

        &:hover {
            filter: brightness(0) saturate(100%) invert(79%) sepia(52%) saturate(768%) hue-rotate(329deg) brightness(102%) contrast(101%);
        }
    }

}

@keyframes slideIn {

    from {

        transform: translateX(100%);

        opacity: 0;

    }

    to {

        transform: translateX(0);

        opacity: 1;

    }

}

.btn-cls-media {
    display: none;
    position: absolute;
    right: 42px;
    width: fit-content;
    padding: 4px 6px;
    border: none;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    color: white;
    font-family: "Nokora";
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(255, 183, 112, 0.3);
    transition: all ease 0.15s;
    height: fit-content;
}



@media (max-width: 1250px) {
    .create-survey {
        >article {
            width: 700px;

            .form {
                .top {
                    flex-direction: column;
                }

                .questions-grid {
                    grid-template-columns: repeat(1, 1fr);
                    gap: 48px;
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .success {
        width: 220px;
    }
    .btn-cls-media {
        display: flex;
    }

    .create-survey {
        >article {
            width: 500px;
            padding: 24px 12px;

            >header {

                .title {
                    >button {
                        display: none;
                    }
                }
            }

            .form {
                .top {
                    flex-direction: column;

                    .left {
                        .row {
                            flex-direction: column;
                        }
                    }
                }

                .questions-grid {
                    grid-template-columns: repeat(1, 1fr);
                    gap: 48px;
                }
            }
        }
    }

    .selected-category {
        margin-left: 10px;
    }

    .category-dropdown {
        margin-left: 0;
    }
}

@media (max-width: 550px) {
     .success {
        width: 270px;
        bottom: 60px;
    }
    .btn-cls-media {
        right: 52px;
    }

    .create-survey {
        >article {
            padding: 12px 6px;
            width: 300px;

            .form {
                padding: 5px;

                >form {
                    gap: 24px;
                }

                input,
                textarea {
                    font-size: 14px;
                }

                .top {
                    gap: 24px;

                    .left {
                        .input-group {
                            .title {
                                width: 250px;
                            }
                        }

                        .row {
                            flex-direction: column;
                        }
                    }

                    .right {
                        .input-group {
                            >textarea {
                                width: 250px;
                            }
                        }
                    }
                }

                .question {
                    width: 280px;

                    .button-box {
                        flex-direction: column;
                        gap: 8px;
                        align-items: start;

                        >p {
                            margin-top: 0px;
                            margin-left: 10px;
                        }
                    }

                    .answers-header {
                        width: 280px;
                    }

                    .question-header {
                        width: 280px;
                    }

                    .question-input {
                        width: 250px;
                    }
                }
            }
        }
    }

    .textarea {
        width: 250px;
    }
}