<section>
    <nav>
        <div class="left">
            <button>Active survey</button>
            <button>Past survey</button>
        </div>
        <div class="right">
            <p>Sort by categories</p>
            <img src="./assets/icons/arrow_drop_down.svg" alt="arrow drop down">
        </div>
    </nav>
    <div id="allSurveys">
        <app-small-survey-card></app-small-survey-card>
        <app-small-survey-card></app-small-survey-card>
        <app-small-survey-card></app-small-survey-card>
        <app-small-survey-card></app-small-survey-card>
        <app-small-survey-card></app-small-survey-card>
        <app-small-survey-card></app-small-survey-card>
        <app-small-survey-card></app-small-survey-card>
        <app-small-survey-card></app-small-survey-card>
        <app-small-survey-card></app-small-survey-card>
        <app-small-survey-card></app-small-survey-card>
        <app-small-survey-card></app-small-survey-card>
        <app-small-survey-card></app-small-survey-card>
    </div>
</section>
