<section id="all-surveys">
    <nav>
        <div class="left">
            <button

  type="button"

  [class.active]="selectedTab === 'active'"

  (click)="selectedTab = 'active'">

  Active survey

</button>

<button

  type="button"

  [class.active]="selectedTab === 'past'"

  (click)="selectedTab = 'past'">

  Past survey

</button>
        </div>
        <div class="right">
            <p>Sort by categories</p>
            <img src="./assets/icons/arrow_drop_down.svg" alt="arrow drop down">
        </div>
    </nav>
    <div id="allSurveys">
        @if (selectedTab === 'active') {
        @for (survey of activeSurveys; track survey.id) {
        <app-small-survey-card [survey]="survey" />
        }
        }

        @if (selectedTab === 'past') {
        @for (survey of pastSurveys; track survey.id) {
        <app-small-survey-card [survey]="survey" />
        }
        }
    </div>
</section>