<section [routerLink]="['/survey', survey.id]">
    <div class="firstSection">

        <p>{{ survey?.category }}</p>

        <h3>{{ survey?.title }}</h3>

    </div>

    <div class="secondSection">

        <div>

            <p>

                @if (survey?.deadline) {
                    Ends on
                    <span>
                        {{ survey.deadline | date:'dd.MM.yyyy' }}
                    </span>
                } @else {
                    No deadline
                }

            </p>

        </div>

    </div>
</section>
